

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
text-decoration: none;
color: black;
}




video{
    cursor: pointer;
}
img{
    cursor: pointer;
}





nav{
    background-color: rgb(0, 158, 227) ;
    display: flex;
    justify-content: center;
align-items: center;
    width: 100%;
    height: 50px;
  
}

.fut{
   
    display: flex;
    align-items: center;
    width: 16.66%;
    height: 50px;
    display: flex;
align-items: center;
}

.nome{
    width: 16.66%;
    height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tv{
    width: 16.66%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.mais{
    width: 16.66%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.politica{
    width: 16.66%;
    height: 50px;
    display: flex;
align-items: center;
justify-content: center;

}


.comunidade{
    width: 16.66%;
    height: 50px;
    display: flex;
align-items: center;
justify-content: center;
}


.sobre{
    width: 16.66%;
    height: 50px;
    display: flex;
align-items: center;
justify-content: center; 
}


.image-fut{
    width: 30px;
    height: 30px;
    border-radius: 50%;
padding: 4px;
    margin-left: 12px;
    background-color: yellow;
}




.image-txt0{
    width: 30px;
    height: 30px;
    border-radius: 50%;
padding: 4px;
    margin-right: 12px;
    background-color: yellow;
    
}


.group{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.cont{
    width: 70%;
}
.video{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    
}


.logo-video{
    margin-left: 12px;
     width:22px;
  
}

.sug{
    display: flex;
    width: 30%;

}




/*resposividade*/

@media screen and (max-width:800px){
   nav{
    display: flex;
    justify-content: space-between;
   }
}



@media screen and (max-width:800px){
    .politica{
        display: none;
    }
}


@media screen and (max-width:800px){
    .sobre{
        display: none;
    }
}



@media screen and (max-width:800px){
    .mais{
        display: none;
    }
}













@media screen and (max-width:800px){
    .comunidade{
        display: none;
    }
}



@media screen and (max-width:800px){
    .menu{
        display: none;
    }  
}
@media screen and (max-width:800px){
    .sug{
        display: none;
    }  
}

@media screen and (max-width:800px){
    .cont{
    width: 100%;
    }  
}

@media screen and (max-width:800px){
    .video-meio{
    width: 97%;

    }  
}

@media screen and (min-width:800px) and (max-width:10000000px){
    .nome{
display: none;
    }
}

@media screen and (min-width:800px) and (max-width:100000000px){

    .posi{
        display: none;
    }
}


@media screen and (min-width:800px) and (max-width:100000000px){

    .img-posi{
        display: none;
    }
}
/*..........................*/

.texte{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;

}


.grop-link{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
   
}

.grop-video-sug{
    display: flex;
    flex-direction: column;
    width: 100%;
  margin-top: 7px;
}

.video-sug-esq{
    width: 90%;
margin-left: 5px;
border-radius: 12px;
}








